{% extends 'base.html' %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}


<div class="container mt-4">
    <h2>Artículos</h2>
    <div id="articles-container" class="row">
    </div>

    <script>
        const baseUrl =  "{{ app.config['BASE_URL'] }}";
        
        
        fetch(`${baseUrl}/articles/get_all_articles`)
            .then(response => response.json())
            .then(data => {
                const articlesContainer = document.getElementById('articles-container');

                data.forEach(article => {
                    const articleHtml = `
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">${article.title}</h5>
                                <p class="card-text">${article.abstract}</p>
                                <a href="#" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                `;
                    articlesContainer.innerHTML += articleHtml;
                });
            })
            .catch(error => console.error('Error al obtener los artículos:', error));
    </script>
    {% endblock %}