{% extends 'base.html' %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 text-center align-self-center">
            <h1 class="display-4">Razonamiento neuronal de dominio abierto para la reconstrucción e inferencia de
                conocimiento: una aplicación en enfermedades respiratorias</h1>
            <p class="lead">Desarrollar modelos de Inteligencia Artificial (IA) para la reconstrucción y creación de
                conocimiento (razonamiento neuronal) en temas abiertos relevantes para tres enfermedades respiratorias:
                cáncer de pulmón, fibrosis pulmonar y enfermedad respiratoria obstructiva crónica. Además, se creará una
                aplicación web para proporcionar a los usuarios de Internet un servicio de guía para navegación y
                visualización semántica de alto detalle.</p>
        </div>
        <div class="col-md-6">
            <img src="../static/images/logo.png" alt="Imagen de Fondo" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}